---
import Nav from "../components/Nav.astro";
import SiteFooter from "../components/SiteFooter.astro";
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
  metaType?: "website" | "article";
  metaImage?: string;
  metaImageAlt?: string;
}

const {
  title,
  description,
  metaType = "website",
  metaImage,
  metaImageAlt,
} = Astro.props;

const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const siteName = "@mkoppmann’s mneme";
const documentTitle = `${title} | ${siteName}`;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{documentTitle}</title>
    <meta name="description" content={description} />
    <link rel="canonical" href={canonicalURL.href} />
    <link rel="sitemap" type="application/xml" href="/sitemap-index.xml" />

    <meta property="og:type" content={metaType} />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL.href} />
    <meta property="og:site_name" content={siteName} />
    {metaImage && <meta property="og:image" content={metaImage} />}
    {
      metaImage && metaImageAlt && (
        <meta property="og:image:alt" content={metaImageAlt} />
      )
    }

    <meta
      name="twitter:card"
      content={metaImage ? "summary_large_image" : "summary"}
    />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={description} />
    {metaImage && <meta name="twitter:image" content={metaImage} />}
    {
      metaImage && metaImageAlt && (
        <meta name="twitter:image:alt" content={metaImageAlt} />
      )
    }

    <!-- JSON-LD -->
    <slot name="head" />

    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body>
    <Nav />
    <header>
      <slot name="pageHeader" />
    </header>
    <slot />
    <SiteFooter />
  </body>
</html>

<style is:global>
  body {
    --layout-nav-width: 90%;
    --layout-content-width: 100%;
    --layout-main-bottom-space: var(--space-lg);
    --layout-nav-max-width: 34rem;
    --layout-content-max-width: 38rem;

    min-block-size: 100vh;
    min-block-size: 100dvh;

    display: grid;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
  }

  nav {
    grid-area: nav;
    margin: var(--space-lg) auto 0;
    inline-size: min(var(--layout-nav-width), var(--layout-nav-max-width));
  }

  header {
    grid-area: header;
    margin-inline: auto;
    inline-size: min(
      var(--layout-content-width),
      var(--layout-content-max-width)
    );
  }

  header > :where(h1) {
    margin: var(--space-md) 0;
    padding-inline: var(--space-md);
  }

  main {
    grid-area: main;
    margin: 0 auto var(--layout-main-bottom-space);
    inline-size: min(
      var(--layout-content-width),
      var(--layout-content-max-width)
    );
  }

  footer {
    grid-area: footer;
    text-align: center;
    color: var(--color-footer-text);
    background-color: var(--color-footer-bg);
  }

  footer p {
    margin: 0;
    padding: var(--space-md);
  }

  @media (min-width: 36rem) {
    body {
      --layout-nav-width: 80%;
      --layout-content-width: 80%;
      --layout-main-bottom-space: var(--space-xl);
    }

    header > :where(h1) {
      padding-inline: 0;
    }
  }
</style>
